@charset "UTF-8";
/* CSS Document */

body {
    font-family: "Times New Roman", Arial Black, Helvetica, Geneva;
	font-size: 16px;
    margin: 0;
    padding: 0;

}

#splash {
    background: url(images/tech.jpg) no-repeat center top fixed;
    background-size: cover;
    height: 1000px;
}
#overview {
    background-color:#82C2F0;
    padding-top:54px;
}
#media {
    background: url(images/wires.jpg) no-repeat center top fixed;
    background-size: cover;
    padding-top:54px;
}
#table {
    background-color:#82C2F0;
     padding-top:54px;
}
#author {
    background-color:#000000;
    padding-top:54px;
}
#container {
  width: 960px;
  margin: auto;
  overflow: hidden;
}
#half_container {
  width: 50%;
  float: left;
  overflow: hidden;
}
#navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(255, 255, 255, 0.8); 
}	
#menu {
	list-style: none;
	text-align: center;
	padding-top: 0px;
} 
#menu li {
	padding-bottom: 20px;
	display: inline-block;
} 
#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	padding: 20px 100px 20px 100px; 
}

#menu li a.button:hover {
	background-color: rgba(42, 188, 238, 0.1);
}
#title-page{
  width: 100%;
  padding-top: 200px; /* provides a lot of space above title to view the background image */
  color: #fff;
  text-align: right;
}
#title-page h1 {
  font-size: 80px; 	
  text-shadow: 3px 3px #000; /* Shadow helps text to stand out from background */
  font-family: 'Roboto Slab', serif;
  padding-right: 100px;
}
#title-page h3 {
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  margin: 0 40px;
  padding-bottom: 20px;
  text-shadow: 2px 2px #000;
  padding-right:100px;
}
#header2{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
}
#content{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    padding-right: 25px;
}
#robot{
	float:left;
	padding-right:20px;
	padding-bottom: 20px;
	padding-top:10px;
	padding-left:20px;
}
#video{
    padding-left:35%;
    padding-top: 250px;
    padding-bottom:250px;
}
#tab{
    padding:100px 75px 75px 100px;
    font-family: 'Roboto Slab', serif;
}
#quote{
    font-style: italic;
	padding-bottom: 50px;
}

#authorinfo{
    color:#fff;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom:100px;
}