@charset "UTF-8";
/* CSS Document created by Riley Morse, April 5th 2019*/

body {
	font-family: "Times New Roman", Arial Black, Helvetica, Geneva;
	font-size: 16px;
	line-height: 1.3em;
	color: #FFFFFF;
	background-color: #82C2F0;
	padding: 0 35px;
	margin: 0;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #FFFFFF;
	padding: 0 40px;
}
h1 {
	font-size: 32px;
	font-variant:small-caps;
	letter-spacing: .20em;
	line-height: 2.5em;
}
h2 {
	font-size: 18px;
	padding: 5px;
	letter-spacing: 0.25em;
}


/* link styles ---------------------------- */
a:link {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #2A6FFF;
	text-decoration: none;
}
a:hover {
	color: #000000;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 10px;
}
ol {
	margin-left: 12px;
}

/* table styles -------------------------------------- */
table {
	border: solid #2A6FFF 1px;
}
td {
	padding: 8px;
	border: solid #2A6FFF 3px;
}
th {
	font-weight: bold;
	background-color: #2A6FFF;
	text-align: center;
	padding: 6px;
	border: solid #2A6FFF 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #2A6FFF 2px;
}


iframe {
	border: solid #2A6FFF 1px;
	padding: 8px;
	margin: 8px;
}
#container {
	width: 85%;
	margin: auto;
	background-color: #82C2F0;
	overflow: hidden;
}
#banner {
	width: 100%;
	height: 250px;
}
#header1 {
	width: 100%; 
	background-color: #1825E8;
	border-bottom: 1px solid #800000;
	text-align:center;
}
#header2{
	background-color: #1825E8;
}
#content {
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #1825E8;
}
#robot{
	float:left;
	padding-right:20px;
	padding-bottom: 20px;
	padding-top:10px;
}
#authorpic{
	float:left;
	padding-right: 20px;
	padding-bottom: 20px;
}


#quote {
	font-style: italic;
	clear:both;
	background-color: #1825E8;
	
}
#table {
	clear:both;
	background-color: #1825E8;
}
#footer {
	clear:both;
	
}
